# Pandas is used to do data reading, data cleaning, data selection and data manipulation. And it's used a lot in Machine Learning and Data Science.

In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame(np.arange(1,21).reshape(4,5),index=['row1','row2','row3','row4'],columns=['column1','column2','column3','column4','column5'])
df.head()

      column1  column2  column3  column4  column5
row1        1        2        3        4        5
row2        6        7        8        9       10
row3       11       12       13       14       15
row4       16       17       18       19       20

In [16]:
# this will create a csv file of our dataframe in the same path of this file.
df.to_csv('test.csv')

In [14]:
df.describe()

         column1    column2    column3    column4    column5
count   4.000000   4.000000   4.000000   4.000000   4.000000
mean    8.500000   9.500000  10.500000  11.500000  12.500000
std     6.454972   6.454972   6.454972   6.454972   6.454972
min     1.000000   2.000000   3.000000   4.000000   5.000000
25%     4.750000   5.750000   6.750000   7.750000   8.750000
50%     8.500000   9.500000  10.500000  11.500000  12.500000
75%    12.250000  13.250000  14.250000  15.250000  16.250000
max    16.000000  17.000000  18.000000  19.000000  20.000000

In [29]:
df['column2']

row1     2
row2     7
row3    12
row4    17
Name: column2, dtype: int32

In [33]:
df[['column1','column2']]

      column1  column2
row1        1        2
row2        6        7
row3       11       12
row4       16       17

In [35]:
## give error
df['row1']

KeyError: 'row1'

In [4]:
# Accessing elements from dataframe or dataseries.
# 1. .loc     2. iloc

df.loc['row1']

column1    1
column2    2
column3    3
column4    4
column5    5
Name: row1, dtype: int32

In [5]:
type(df.loc['row1'])

pandas.core.series.Series

In [6]:
df.iloc[1:3,0:4]

      column1  column2  column3  column4
row2        6        7        8        9
row3       11       12       13       14

In [7]:
type(df.iloc[1:3,0:4])

pandas.core.frame.DataFrame

In [8]:
df.iloc[2,:2]

column1    11
column2    12
Name: row3, dtype: int32

In [9]:
type(df.iloc[2,:2])

pandas.core.series.Series

In [10]:
df.iloc[:2,2]

row1    3
row2    8
Name: column3, dtype: int32

In [11]:
type(df.iloc[:2,2])

pandas.core.series.Series

In [17]:
df.iloc[:2,2].values

array([3, 8])

In [18]:
df.iloc[:,:]

      column1  column2  column3  column4  column5
row1        1        2        3        4        5
row2        6        7        8        9       10
row3       11       12       13       14       15
row4       16       17       18       19       20

In [19]:
df.iloc[1:,1:]

      column2  column3  column4  column5
row2        7        8        9       10
row3       12       13       14       15
row4       17       18       19       20

In [20]:
df.iloc[1:,1:].shape

(3, 4)

### Some of built-in functions in pandas.

In [21]:
df.isnull()

      column1  column2  column3  column4  column5
row1    False    False    False    False    False
row2    False    False    False    False    False
row3    False    False    False    False    False
row4    False    False    False    False    False

In [22]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
column5    0
dtype: int64

In [26]:
## how many times a single element is present there.
df.value_counts()

column1  column2  column3  column4  column5
1        2        3        4        5          1
6        7        8        9        10         1
11       12       13       14       15         1
16       17       18       19       20         1
dtype: int64

In [27]:
df['column1'].value_counts()

16    1
1     1
11    1
6     1
Name: column1, dtype: int64

In [28]:
## unique values
df['column1'].unique()

array([ 1,  6, 11, 16])